body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
}
.centraliza-conteiner{
    margin: auto;
}
div{
    width: 85%;
    background-color: #fff;
    padding: 3em;
    box-shadow: 0 0  2.2em rgba(0,0,0,.2);
}
header{
        text-align: center;
        
}
header ul{
    margin-top: 1.5em;
}
header li{
    list-style-type: none;
    display: inline-block;
    font-family: "preconnect" href="https://fonts.googleapis.com" ;
    font-size: 2rem;
    margin-right: 2em;
   
}
 header li:last-child{margin-right: 0;}
 header a{
    text-decoration: none; color: black; padding: .8em;
 }

main{
    margin-top: 4em;

}
article{
    width: 95%;
}
article img{
    width: 19%;
    float: right;
    margin: 0 0 0 2.5em 2em;
    box-shadow: 5px 5px 15px  rgba(0,0,0,.39);
}
p{
    font-size: 1.4em;
    line-height: 160%;
    margin-bottom: 1em;
}
h2{
    font-size: 3.5rem;
    margin-top: .72em;
    font-family: 'Nerko One', cursive;;
}
hr{
    width: 85%;
    margin: 4em auto;
    border: 1.5px solid rgba(6, 53, 154, 0.2);
    
}
.centraliza-texto{

    color: blue;
    font-family: 'Nerko One', cursive;;
    text-align: center;
}
label{
    color: rgb(0, 0, 0);
}
button{
    color: rgb(0, 0, 0);
    text-align: center
}
form{
    text-align: center;
}
img{
    border: 4px solid black;
    padding: 20px;
    border-radius: 8px;
    font-size:  95px;
}
a{
    color: blue;
    
}
p{
    font-family: 'Roboto Slab';
}